In [27]:
import yfinance as yf
import pandas as pd
import datetime
from datetime import date

In [21]:
AMZN = yf.download(tickers = 'AMZN', period = '4Y', interval = '1d')

[*********************100%***********************]  1 of 1 completed

In [22]:
AMZN

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-03  88.473000  88.917000  86.500000  88.617996  88.617996  137246000
2018-12-04  87.800003  88.516998  83.250000  83.419998  83.419998  173890000
2018-12-06  80.743500  85.052498  80.492500  84.959503  84.959503  175788000
2018-12-07  85.253502  85.946503  81.273003  81.456497  81.456497  151522000
2018-12-10  81.192001  82.899498  79.543503  82.051498  82.051498  149896000
...               ...        ...        ...        ...        ...        ...
2022-11-23  93.239998  94.580002  92.830002  94.129997  94.129997   59414700
2022-11-25  93.790001  94.430000  93.070000  93.410004  93.410004   35088600
2022-11-28  93.930000  96.400002  93.430000  93.949997  93.949997   74943100
2022-11-29  94.040001  94.410004  91.440002  92.419998  92.419998   65567300
2022-11-30  92.470001  96.540001  91.529999  96.540001  96.540001  102628200

[1006 rows x 6 columns]

In [6]:
AMZN.index

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-06',
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
               '2021-12-13', '2021-12-14',
               ...
               '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-21',
               '2022-11-22', '2022-11-23', '2022-11-25', '2022-11-28',
               '2022-11-29', '2022-11-30'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [19]:
data = '../data/ratings/AMAZON_FASHION.csv'

col_names = ['Item','User','Rating','Timestamp']

df = pd.read_csv(data, names = col_names)

In [20]:
df

              Item            User  Rating   Timestamp
0       7106116521  A1D4G1SNUZWQOT     5.0  1413763200
1       7106116521  A3DDWDH9PX2YX2     2.0  1411862400
2       7106116521  A2MWC41EW7XL15     4.0  1408924800
3       7106116521  A2UH2QQ275NV45     2.0  1408838400
4       7106116521   A89F3LQADZBS5     3.0  1406419200
...            ...             ...     ...         ...
883631  B01HJHTH5U  A1ZSB2Q144UTEY     5.0  1487635200
883632  B01HJHTH5U  A2CCDV0J5VB6F2     5.0  1480032000
883633  B01HJHTH5U  A3O90PACS7B61K     3.0  1478736000
883634  B01HJHF97K  A2HO94I89U3LNH     3.0  1478736000
883635  B01HJG5NMW  A2RSX9E79DUHRX     5.0  1470700800

[883636 rows x 4 columns]

In [16]:
sum(df['Rating'])/len(df['Rating'])

3.9069401880412298

In [24]:
times = df['Timestamp']
times

0         1413763200
1         1411862400
2         1408924800
3         1408838400
4         1406419200
             ...
883631    1487635200
883632    1480032000
883633    1478736000
883634    1478736000
883635    1470700800
Name: Timestamp, Length: 883636, dtype: int64

In [33]:
# TODO:
# Replace Timestamp column with date
# Import ALL data
# Sentiment analysis?
# Processing JSON data